.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.text {
  font-size: 30px;
  color: black;
  background: white;
}

.sentences{
  height: auto;
  margin:0;
}

.box {
  width: auto;
  max-width: 800px;
  min-width:600px;
  border-radius: 15px;
  background: #00bfb6;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-weight: 900;
  font-family: arial;
  word-wrap: break-word;
  position: relative;
}



/* speech bubble 1 */

.sb1:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid #00bfb6;
  border-right: 15px solid transparent;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  right: -16px;
  top: 0px;
}


/* speech bubble 2 */

.sb2:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 15px solid transparent;
  border-right: 15px solid #00bfb6;
  border-top: 15px solid #00bfb6;
  border-bottom: 15px solid transparent;
  left: -16px;
  top: 0px;
}

/* Centered text */
.container {
  position: relative;
  text-align: center;
}

.landingButtons button {
  margin-right: 15px;
  margin-left: 15x;

}

.centered {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form label{
  display: block;
  margin-top: 20px;
}

nav button {
margin: 5px;
}

.buttonbox button{
  margin-top: 0px;
}

.other-btn {
  justify-content: end;
  margin-right: 50px;
}
.home-btn {
  justify-content: start;
  margin-left: 50px;
  

}

.distance {
  margin-top: 100px;
}

.entailment-box {
  background-color: #c3c3c344;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;

}

li {
  margin:0;
  margin-right: 5px;

}

/* Instruction container */
.instruction-button-open {
}

.instruction-container {
  position: fixed;
  width: 80%;
  left: 10%;
  top: 10%;
  height: 80%;
  background: #e6f8f7;
  border: 2px solid;
  border-color: #9eeeea;
  text-align: center;
}

.instruction-container button.exit {
  text-align: center;
  position: absolute;
  right: -65px;
  top: -12px;
  border-radius: 25px;
  width: 38px;
  height: 38px;
}

.footer-btn-right {
  margin-right: 50px;
}

.footer-btn-left {
  margin-left: 50px;
}

.instruction-container .instructions {
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: scroll;
}

/* textarena */
textarea.readonly {
  background-color: rgb(235, 235, 235);
}

textarea {
  min-width: 100%;
  min-height: 10vh;
}


/* Sentence label in entailment text */
.sentence-label h5 {
  text-align: right;
  width: 80px;
}

.yellow {
  background-color: #e4c41f;

}
mark.red {
  background-color: rgb(229, 103, 101);
}

.text-justify {
  text-align: justify;
}

.main-button{
  width:30vw;
  height:45px;
}


.image-div img {
  width:300px;
}

.ui-container {
    display:flex;
    justify-content: center;
}

.warning-mobile {
  visibility: hidden;
  position: -webkit-sticky; /* Safari */

  background-color: rgb(255, 123, 123);
  width:100%;
  position: sticky;
  padding:10px;
  text-align: center;
  top:0
}

@media only screen and (max-width: 600px) {
  .warning-mobile {
    visibility: visible;
  }
  .main-button{
    width:50vw;
    height:45px;
  }
  .image-div img {
    width:100px;
  }
  .box {
    margin:0;
    width: auto;
    max-width: 300px;
    min-width:100px;
    border-radius: 15px;
    background: #00bfb6;
    color: #fff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
    font-family: arial;
    word-wrap: break-word;
    position: relative;

  }

  .ui-container {
    display:block;
    justify-content: center;
    margin:0;
}

textarea {
  min-width: 50%;
  min-height: 30vh;
}
}
