body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
}

.gamebox{
  margin-top: 30vh;

}

.item span{
  margin-left: 5px;
  width:10px;
  height:10px;
}
.item span:hover{
  color: red;
  cursor: pointer;

}
li {
  float: left;
  margin-top:10vh;
  margin-left:5px;
}
ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

textarea {

  text-align: justify;
  -moz-text-align-last: center; /* Firefox 12+ */
  text-align-last: center;
  width: 100%;
  height: 100%;
}
